In [1]:
import pandas as pd, numpy as np

In [2]:
data=pd.read_csv("adult.data", header=None)
data.columns=["age", "workclass", "fnlwgt", "education", "education-num",
"marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data = data.replace(" ?", np.NaN)
data.dropna(inplace=True)
data.index=[i for i in range(data.shape[0])]
data=data.replace(" <=50K.", "<=50K")
data=data.replace(" >50K.", ">50K")
data=data.replace(" <=50K", "<=50K")
data=data.replace(" >50K", ">50K")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
[len(np.unique(data[i])) for i in data]

[74, 7, 26741, 16, 16, 7, 14, 6, 5, 2, 121, 97, 96, 41, 2]

In [6]:
def binarize(data):
    bind=pd.DataFrame()
    for i in data:
        if type(data[i].values[0])==str:
            if len(np.unique(data[i]))==2:
                bind[i]=np.zeros(data.shape[0])
                bind.loc[data[i]==np.unique(data[i])[1], [i]]=1
            else:
                for j in np.unique(data[i]):
                    bind[i+"_"+j]=np.zeros(data.shape[0])
    #                 bind.loc[data[i]==j, [i+"_"+j]]=1
    #             bind[i+'x']=np.zeros(data.shape[0])
    #             bind.loc[data[i]=='x', [i+'x']]=1
        else: bind[i]=data[i]
    return bind

In [12]:
beta=data.copy()
beta.loc[beta["income"]=="<=50K", ["income"]]=1
beta.loc[beta["income"]==">50K", ["income"]]=0
beta

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,1
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,1
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,1
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,1
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,1
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,1
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,1
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,1
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,0

In [13]:
income=beta["income"]
income

0        1
1        1
2        1
3        1
4        1
        ..
45217    1
45218    1
45219    1
45220    1
45221    0
Name: income, Length: 45222, dtype: object

In [14]:
beta=beta.drop(["income"], axis=1)

In [43]:
X_pos=beta.loc[income==1]
X_neg=beta.loc[income==0]
X_pos.index=[i for i in range(X_pos.shape[0])]
X_neg.index=[i for i in range(X_neg.shape[0])]
y_pos=income.loc[income==1]
y_neg=income.loc[income==0]
y_pos.index=[i for i in range(X_pos.shape[0])]
y_neg.index=[i for i in range(y_neg.shape[0])]
X_pos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34009,48,Local-gov,349230,Masters,14,Divorced,Other-service,Not-in-family,White,Male,0,0,40,United-States
34010,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States
34011,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States
34012,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States
34013,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States

In [44]:
from sklearn.model_selection import train_test_split
test_size=1/20
_, X_pos, _, y_pos=train_test_split(X_pos, y_pos, test_size=test_size)
_, X_neg, _, y_neg=train_test_split(X_neg, y_neg, test_size=test_size)

In [45]:
X_pos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
25708,35,Self-emp-not-inc,107662,HS-grad,9,Never-married,Other-service,Unmarried,White,Female,0,0,5,Canada
30795,18,Private,131825,11th,7,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,21,United-States
30164,53,Private,308082,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,15,El-Salvador
27135,17,Private,197186,10th,6,Never-married,Sales,Own-child,White,Female,0,0,24,United-States
20592,43,Private,282069,Some-college,10,Divorced,Craft-repair,Unmarried,White,Male,0,0,42,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10146,27,Private,212622,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States
806,51,Private,284329,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,40,United-States
27121,23,Private,154785,Some-college,10,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,0,0,40,United-States
32012,41,Private,169473,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,30,United-States
23029,60,Private,209844,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States

In [46]:
X_pos.index=[i for i in range(X_pos.shape[0])]
X_neg.index=[i for i in range(X_neg.shape[0])]
y_pos.index=[i for i in range(X_pos.shape[0])]
y_neg.index=[i for i in range(y_neg.shape[0])]
X_pos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
0,35,Self-emp-not-inc,107662,HS-grad,9,Never-married,Other-service,Unmarried,White,Female,0,0,5,Canada
1,18,Private,131825,11th,7,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,21,United-States
2,53,Private,308082,Preschool,1,Never-married,Other-service,Not-in-family,White,Female,0,0,15,El-Salvador
3,17,Private,197186,10th,6,Never-married,Sales,Own-child,White,Female,0,0,24,United-States
4,43,Private,282069,Some-college,10,Divorced,Craft-repair,Unmarried,White,Male,0,0,42,United-States
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1696,27,Private,212622,Masters,14,Never-married,Exec-managerial,Own-child,White,Female,0,0,40,United-States
1697,51,Private,284329,HS-grad,9,Widowed,Transport-moving,Unmarried,White,Male,0,0,40,United-States
1698,23,Private,154785,Some-college,10,Never-married,Adm-clerical,Other-relative,Asian-Pac-Islander,Female,0,0,40,United-States
1699,41,Private,169473,HS-grad,9,Divorced,Other-service,Not-in-family,White,Female,0,0,30,United-States
1700,60,Private,209844,Some-college,10,Divorced,Adm-clerical,Other-relative,White,Female,0,0,40,United-States

In [47]:
from sklearn.model_selection import train_test_split
test_size=0.01
X_train_pos, X_test_pos, y_train_pos,  y_test_pos = train_test_split(X_pos, y_pos, test_size=test_size)
X_train_neg, X_test_neg, y_train_neg, y_test_neg = train_test_split(X_neg, y_neg, test_size=test_size)

In [48]:
X_test_pos

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
828,29,Private,26451,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,0,0,40,United-States
1575,42,Private,152889,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
1248,30,Private,97723,HS-grad,9,Never-married,Machine-op-inspct,Own-child,White,Male,0,0,45,United-States
1433,31,Private,145377,Bachelors,13,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
784,49,Private,75673,HS-grad,9,Never-married,Adm-clerical,Own-child,Asian-Pac-Islander,Female,0,0,40,United-States
857,30,Private,119522,10th,6,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,45,United-States
1396,37,Private,236990,Some-college,10,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,3464,0,40,United-States
1648,24,Private,275421,Assoc-voc,11,Never-married,Machine-op-inspct,Own-child,White,Female,0,0,40,United-States
1333,27,Private,50316,Some-college,10,Never-married,Exec-managerial,Not-in-family,White,Male,0,0,40,United-States
409,35,Private,148334,Some-college,10,Never-married,Adm-clerical,Own-child,Black,Male,0,0,40,United-States
1081,23,Local-gov,247731,HS-grad,9,Divorced,Adm-clerical,Own-child,White,Female,0,0,40,Cuba
447,27,Private,247711,HS-grad,9,Married-civ-spouse,Adm-clerical,Wife,White,Female,0,0,40,United-States
975,43,Self-emp-not-inc,150528,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,30,United-States
909,20,Private,258430,Some-college,10,Never-married,Other-service,Own-child,White,Female,0,0,19,United-States
924,29,Private,354558,HS-grad,9,Married-civ-spouse,Sales,Husband,White,Male,0,0,60,United-States
352,47,Private,186311,Bachelors,13,Never-married,Exec-managerial,Not-in-family,White,Female,0,0,50,United-States
1017,39,Private,261504,12th,8,Divorced,Adm-clerical,Unmarried,White,Female,0,0,40,United-States
497,80,Private,249983,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,24,United-States

In [49]:
def inter_bin(x, y):
    return x*y

In [50]:
def inter_cat(x,y):
    return [x, y]

In [51]:
def inter_num(x, y):
    return [np.min([x, y]), np.max([x, y])]

In [52]:
def inter(x,y, meta):
    res=[]
    for i in range(len(x)):
        if meta[i]=="bin":
            res.append(inter_bin(x[i], y[i]))
        elif meta[i]=="cat":
            res.append(inter_cat(x[i], y[i]))
        elif meta[i]=="num":
            res.append(inter_num(x[i], y[i]))
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
    return np.array(res, dtype=object)

In [53]:
def isin(x, y, meta):
#     z=inter(x, y, meta)
#     print(z)
    res=True
    for i in range(len(x)):
        if meta[i]=="bin":
            res*=(y[i]>=x[i])
        elif meta[i]=="cat":
            res*=(y[i] in x[i])
        elif meta[i]=="num":
            res*=(x[i][0]<=y[i]<=x[i][1])
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
        if not res: return res
    return res

In [54]:
def support(x, cl, meta):
    return np.mean([isin(x, i, meta) for i in cl])

In [80]:
def conf(x, y, meta, numdiff=0):
#     print(x, y)
    res=[]
    for i in range(len(x)):
        if meta[i]=="bin" or meta[i]=="cat":
            res.append(x[i]==y[i])
        elif meta[i]=="num":
            res.append(int(abs(x[i]-y[i])<=numdiff))
        else:
            raise Exception(str("Unknown metadata passed: "+meta[i]+" please use one of the following: bin, num, cat"))
    return np.mean(res)

In [81]:
beta.columns

Index(['age', 'workclass', 'fnlwgt', 'education', 'education-num',
       'marital-status', 'occupation', 'relationship', 'race', 'sex',
       'capital-gain', 'capital-loss', 'hours-per-week', 'native-country'],
      dtype='object')

In [82]:
met=['num', 'cat', 'num', 'cat', 'num',
    'cat', 'cat', 'cat', 'cat', 'cat',
    'num', 'num', 'num', 'cat']
met, len(met)

(['num',
  'cat',
  'num',
  'cat',
  'num',
  'cat',
  'cat',
  'cat',
  'cat',
  'cat',
  'num',
  'num',
  'num',
  'cat'],
 14)

In [83]:
def classify(x, X_pos, X_neg, min_conf, minsup, aconf, meta, numdif=0, maxcont=0):
    cont_pos=0
    sup_pos=0
    npos=0
    minsuppos=np.inf
    maxsuppos=0
    mincontpos=np.inf
    maxcontpos=0
    
    for i in X_pos:
        z=inter(i, x, meta)
        c=conf(i, x, meta, numdif)
#         print(c)
        if c>=min_conf:
            print("c")
            return True
           
        if c>=aconf:
#             print(c)
            sup=support(z, X_pos, meta)
            if sup>=minsup:
                return 1
            cont=support(z, X_neg, meta)
#             if cont<=maxcont:
#                 return 1
            cont_pos+=cont
            sup_pos+=sup
            npos+=1
            minsuppos=min(minsuppos, sup)
            maxsuppos=max(maxsuppos, sup)
            mincontpos=min(mincontpos, cont)
            maxcontpos=max(maxcontpos, cont)
    #     print("+")
    
    cont_neg=0
    sup_neg=0
    nneg=0
    minsupneg=np.inf
    maxsupneg=0
    mincontneg=np.inf
    maxcontneg=0
    
    for i in X_neg:
        z=inter(i, x, meta)
        c=conf(i, x, meta, numdif)
        if c>=min_conf:
            return False
        
        if c>=aconf:
#             print(c)
            sup=support(z, X_neg, meta)
            if sup>=minsup:
                return 0
            cont=support(z, X_pos, meta)
#             if cont<=maxcont:
#                 return 0
            cont_neg+=cont
            sup_neg+=sup
            nneg+=1
            minsupneg=min(minsupneg, sup)
            maxsupneg=max(maxsupneg, sup)
            mincontneg=min(mincontneg, cont)
            maxcontneg=max(maxcontneg, cont)      
#     print("-")
    
    
#     cont_pos/=npos
#     sup_pos/=npos
#     cont_neg/=nneg
#     sup_neg/=nneg
#     print(cont_pos,sup_pos, cont_neg,sup_neg)
#     print(minsupneg,
#             maxsupneg,
#             mincontneg,
#             maxcontneg,"\n" ,minsuppos,
#             maxsuppos,
#             mincontpos,
#             maxcontpos)
#     print(cont_pos,sup_pos, cont_neg,sup_neg)
    if sup_pos!=0 and sup_neg!=0:
        return int(cont_pos/sup_pos<cont_neg/sup_neg)
    elif sup_pos==0 or sup_neg==0 and not sup_pos==sup_neg:
        return int(sup_pos/X_pos.shape[0]>sup_neg/X_neg.shape[0])
    else: return int(cont_pos/X_pos.shape[0]<cont_neg/X_neg.shape[0])
#     return int(maxcontpos<maxcontneg)
#     return int(maxsuppos>maxsupneg)

In [103]:
%time classify(X_test_pos.loc[X_test_pos.index[1]].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met, 0)

Wall time: 21.2 s

1

In [104]:
%time classify(X_test_neg.loc[X_test_neg.index[1]].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met)

Wall time: 38 s

0

In [ ]:
%time y=np.array([classify(X_test_pos.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_pos.index])

c

In [ ]:
%time yn=np.array([classify(X_test_neg.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_neg.index])

In [ ]:
def metrics(y, yn, y_true, yn_true):
    m=dict()
    FN=sum(y^y_true)
    FP=sum(yn^yn_true)
    TP=len(y_true)-FN
    TN=len(yn_true)-FP
    m["FN"]=FN
    m["FP"]=FP
    m["TP"]=TP
    m["TN"]=TN
    m["A"]=(TP+TN)/(FP+FN+TP+TN)
    m["TPR"]=TP/(TP+FN)
    m["TNR"]=TN/(TN+FP)
    m["NPV"]=TN/(TN+FN)
    m["PPV"]=TP/(TP+FP)
    m["FPR"]=FP/(FP+TN)
    m["FDR"]=FP/(FP+TP)
    m["P"]=1/2*(TP/(TP+FP)+TN/(TN+FN))
    m["R"]=1/2*(TP/(TP+FN)+TN/(TN+FP))
    return m

True Positive
True Negative
False Positive
False Negative
True Positive Rate
True Negative Rate
Negative Predictive Value
False Positive Rate
False Discovery Rate
Accuracy
Precision
Recall

In [ ]:
metrics(y, yn, np.array(y_test_pos, dtype=int), np.array(y_test_neg,  dtype=int))

In [101]:
from sklearn.model_selection import KFold
kf = KFold(n_splits=10, shuffle=True)

In [102]:
%%time
a=0
# X_pos=beta.loc[win==1]
# X_neg=beta.loc[win==0]
# X_pos.index=[i for i in range(X_pos.shape[0])]
# X_neg.index=[i for i in range(X_neg.shape[0])]
# y_pos=win.loc[win==1]
# y_neg=win.loc[win==0]
# y_pos.index=[i for i in range(X_pos.shape[0])]
# y_neg.index=[i for i in range(y_neg.shape[0])]
l=[i for i in kf.split(X_pos)]
k=[i for i in kf.split(X_neg)]
for i in range(10):

    X_train_pos=X_pos.loc[l[i][0]]
    X_train_neg=X_neg.loc[k[i][0]]

    y_train_pos=y_pos.loc[l[i][0]]
    y_train_neg=y_neg.loc[k[i][0]]

    X_test_pos=X_pos.loc[l[i][1]]
    X_test_neg=X_neg.loc[k[i][1]]

    y_test_pos=y_pos.loc[l[i][1]]
    y_test_neg=y_neg.loc[k[i][1]]
    
    y=np.array([classify(X_test_pos.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_pos.index])
    yn=np.array([classify(X_test_neg.loc[i].values, X_train_pos.values, X_train_neg.values, 0.9, 0.9, 0.5, met) for i in X_test_neg.index])
    a+=metrics(y, yn, np.array(y_test_pos, dtype=int), np.array(y_test_neg,  dtype=int))["A"]
    print(a)
a/10

KeyboardInterrupt: