In [1]:
import pandas as pd, numpy as np

In [2]:
data=pd.read_csv("adult.data", header=None)
data.columns=["age", "workclass", "fnlwgt", "education", "education-num",
"marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "income"]
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48837,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K.
48838,64,?,321403,HS-grad,9,Widowed,?,Other-relative,Black,Male,0,0,40,United-States,<=50K.
48839,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K.
48840,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K.
48841,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K.

In [3]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48842 entries, 0 to 48841
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   age             48842 non-null  int64
 1   workclass       48842 non-null  object
 2   fnlwgt          48842 non-null  int64
 3   education       48842 non-null  object
 4   education-num   48842 non-null  int64
 5   marital-status  48842 non-null  object
 6   occupation      48842 non-null  object
 7   relationship    48842 non-null  object
 8   race            48842 non-null  object
 9   sex             48842 non-null  object
 10  capital-gain    48842 non-null  int64
 11  capital-loss    48842 non-null  int64
 12  hours-per-week  48842 non-null  int64
 13  native-country  48842 non-null  object
 14  income          48842 non-null  object
dtypes: int64(6), object(9)
memory usage: 5.6+ MB

In [4]:
data = data.replace(" ?", np.NaN)
data.dropna(inplace=True)
data.index=[i for i in range(data.shape[0])]
data=data.replace(" <=50K.", "<=50K")
data=data.replace(" >50K.", ">50K")
data=data.replace(" <=50K", "<=50K")
data=data.replace(" >50K", ">50K")
data

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,Private,245211,Bachelors,13,Never-married,Prof-specialty,Own-child,White,Male,0,0,40,United-States,<=50K
45218,39,Private,215419,Bachelors,13,Divorced,Prof-specialty,Not-in-family,White,Female,0,0,36,United-States,<=50K
45219,38,Private,374983,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,50,United-States,<=50K
45220,44,Private,83891,Bachelors,13,Divorced,Adm-clerical,Own-child,Asian-Pac-Islander,Male,5455,0,40,United-States,<=50K
45221,35,Self-emp-inc,182148,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K

In [5]:
[len(np.unique(data[i])) for i in data]

[74, 7, 26741, 16, 16, 7, 14, 6, 5, 2, 121, 97, 96, 41, 2]

In [6]:
def binarize(data):
    bind=pd.DataFrame()
    for i in data:
        if type(data[i].values[0])==str:
            if len(np.unique(data[i]))==2:
                bind[i]=np.zeros(data.shape[0])
                bind.loc[data[i]==np.unique(data[i])[1], [i]]=1
            else:
                for j in np.unique(data[i]):
                    bind[i+"_"+j]=np.zeros(data.shape[0])
                    bind.loc[data[i]==j, [i+"_"+j]]=1
    #             bind[i+'x']=np.zeros(data.shape[0])
    #             bind.loc[data[i]=='x', [i+'x']]=1
        else: bind[i]=data[i]
    return bind

In [7]:
beta=binarize(data)
# beta.loc[beta["income"]=="<=50K", ["income"]]=1
# beta.loc[beta["income"]==">50K", ["income"]]=0
beta

,age,workclass_ Federal-gov,workclass_ Local-gov,workclass_ Private,workclass_ Self-emp-inc,workclass_ Self-emp-not-inc,workclass_ State-gov,workclass_ Without-pay,fnlwgt,education_ 10th,...,native-country_ Puerto-Rico,native-country_ Scotland,native-country_ South,native-country_ Taiwan,native-country_ Thailand,native-country_ Trinadad&Tobago,native-country_ United-States,native-country_ Vietnam,native-country_ Yugoslavia,income
0,39,0.0,0.0,0.0,0.0,0.0,1.0,0.0,77516,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1,50,0.0,0.0,0.0,0.0,1.0,0.0,0.0,83311,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
2,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215646,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
3,53,0.0,0.0,1.0,0.0,0.0,0.0,0.0,234721,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
4,28,0.0,0.0,1.0,0.0,0.0,0.0,0.0,338409,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45217,33,0.0,0.0,1.0,0.0,0.0,0.0,0.0,245211,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45218,39,0.0,0.0,1.0,0.0,0.0,0.0,0.0,215419,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45219,38,0.0,0.0,1.0,0.0,0.0,0.0,0.0,374983,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45220,44,0.0,0.0,1.0,0.0,0.0,0.0,0.0,83891,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
45221,35,0.0,0.0,0.0,1.0,0.0,0.0,0.0,182148,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [8]:
income=beta["income"]
win=income

In [9]:
beta=beta.drop(["income"], axis=1)

In [13]:
from sklearn.model_selection import KFold
from sklearn.model_selection import cross_val_score
kf = KFold(n_splits=10, shuffle=True)

In [14]:
from sklearn.naive_bayes import BernoulliNB
nbc = BernoulliNB()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7640529220985902, 0.004591651301654374)

In [15]:
from sklearn.naive_bayes import GaussianNB
nbc = GaussianNB()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7883994998094657, 0.00267070920350709)

In [16]:
from sklearn.ensemble import RandomForestClassifier
nbc = RandomForestClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.8499624016147063, 0.003541509740765832)

In [17]:
from sklearn.neighbors import KNeighborsClassifier
nbc = KNeighborsClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.7342005326747569, 0.006946399097414849)

In [18]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
nbc = LinearDiscriminantAnalysis()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.8385740853936092, 0.003305002346006734)

In [19]:
from sklearn.linear_model import LogisticRegression
nbc = LogisticRegression()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\_logistic.py:940: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

(0.7914067545865875, 0.005602633712783236)

In [20]:
from sklearn.svm import LinearSVC
nbc = LinearSVC()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)
c:\users\rasn\appdata\local\programs\python\python37\lib\site-packages\sklearn\svm\_base.py:947: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  "the number of iterations.", ConvergenceWarning)

(0.6820634140526824, 0.19107866501599308)

In [21]:
from sklearn.tree import DecisionTreeClassifier
nbc = DecisionTreeClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.8111536758948782, 0.006713896024908811)

In [22]:
from sklearn.ensemble import GradientBoostingClassifier
nbc = GradientBoostingClassifier()
resultsnbc = cross_val_score(nbc, beta, win, cv=kf)
resultsnbc.mean(), resultsnbc.std()

(0.8624564330543883, 0.004922968620093493)